    <header class="intro">
        <div class="intro-body video-container">
            <video autoplay muted loop id="background-video" poster="/assets/new_dawn_hero.png">
              <source src="/assets/new_dawn_hero.mp4" type="video/mp4">
              Your browser does not support HTML5 video.
            </video>
          
            <div class="overlay">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <p class="intro-text">{{ site.description }}<br>
                        </div>
                    </div>
                </div>
            </div>
          </div>
    </header>
